<footer id="footer">
    <div class="footer-top">
        <div class="container footer-item-list flex-responsive">
            <div class="footer-logo">
                <a href="/index.html"><img src="/assets/images/greentwins-logo-white-vertical.png"
                        alt="Logo de GreenTwins"></a>
            </div>

            <div class="footer-links">
                <h4><a href="/blog-pages/blog-landing.html">Blog</a></h4>
            </div>

            <div class="footer-links">
                <h4><a href="/technologies-pages/technologies-landing.html">Technologies</a></h4>
                <ul>
                    <a href="/technologies-pages/technologies-iot.html">
                        <li>Internet of Things (IoT) </li>
                    </a>
                    <a href="/technologies-pages/technologies-module-ia.html">
                        <li>Module IA</li>
                    </a>
                    <a href="/technologies-pages/technologies-digital-twins.html">
                        <li>Jumeaux numériques</li>
                    </a>
                    <a href="/technologies-pages/technologies-saas.html">
                        <li>Plateforme SaaS</li>
                    </a>
                    <a href="/technologies-pages/technologies-data.html">
                        <li>Data</li>
                    </a>
                    <a href="/technologies-pages/technologies-metier-ee.html">
                        <li>Métier EE</li>
                    </a>
                </ul>
            </div>

            <div class="footer-links">
                <h4><a href="/domaines-pages/domaines-landing.html">Domaines</a></h4>
                <ul>
                    <li><a href="/domaines-pages/domaines-methanisation.html">Méthanisation</a></li>
                    <li><a href="/domaines-pages/domaines-smart-building.html">Smart Building</a></li>
                </ul>
            </div>

            <div class="footer-links">
                <h4><a href="https://green-twins-web-app.vercel.app/">Espace client</a></h4>
            </div>

            <div class="footer-links">
                <h4>À propos</h4>
                <ul>
                    <li><a href="/legal-pages/cgu.html">Conditions Générales d'Utilisation</a></li>
                    <li><a href="/legal-pages/mentions-legales.html">Mentions légales</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="copyright">
            <p>Copyright &copy; <span id="year"></span> – GreenTwins</p>
            <p class="small">Tous droits réservés.</p>
        </div>
    </div>
</footer>