<header>
    <div class="header-logo">
        <a href="/">
            <img src="/assets/images/greentwins-logo-horizontal.png" alt="Logo">
        </a>
    </div>

    <div class="burger-icon" onclick="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <nav id="mainNav" class="nav-menu sans-serif">

        <div class="menu">
            <div class="dropdown-item dropdown-item-container">
                <a href="/technologies-pages/technologies-landing.html">
                    <p class="dropdown-item" onmouseover="toggleDropdown('techDropdown')">Technologies
                        <i class="bi bi-chevron-down" style="color: #71AC47; font-size: 16px;" aria-hidden="true"></i>
                    </p>
                </a>
            </div>
            <ul class="dropdown small" id="techDropdown">
                <a href="/technologies-pages/technologies-iot.html">
                    <li>Internet of Things (IoT)</li>
                </a>
                <a href="/technologies-pages/technologies-module-ia.html">
                    <li>Module IA</li>
                </a>
                <a href="/technologies-pages/technologies-digital-twins.html">
                    <li>Jumeaux Numériques</li>
                </a>
                <a href="/technologies-pages/technologies-saas.html">
                    <li>Plateforme SaaS</li>
                </a>
                <a href="/technologies-pages/technologies-data.html">
                    <li>Data</li>
                </a>
                <a href="/technologies-pages/technologies-metier-ee.html">
                    <li>Métier EE</li>
                </a>
            </ul>
        </div>
        <div class="menu">
            <div class="dropdown-item dropdown-item-container">
                <a href="/domaines-pages/domaines-landing.html">
                    <p class="dropdown-item" onmouseover="toggleDropdown('domainDropdown')">Domaines
                        <i class="bi bi-chevron-down" style="color: #71AC47; font-size: 16px;" aria-hidden="true"></i>
                    </p>
                </a>
            </div>
            <ul class="dropdown small" id="domainDropdown">
                <a href="/domaines-pages/domaines-methanisation.html">
                    <li>Méthanisation</li>
                </a>
                <a href="/domaines-pages/domaines-smart-building.html">
                    <li>Smart Building</li>
                </a>
            </ul>
        </div>

        <div class="menu">
            <a href="/blog-pages/blog-landing.html" class="dropdown-item"
                onclick="toggleDropdown('clientDropdown')">Blog</a>
        </div>

        <div class="menu bold">
            <a href="http://green-twins-web-app.vercel.app" class="dropdown-item"
                onclick="toggleDropdown('clientDropdown')">Espace Client</a>
        </div>
    </nav>
</header>