/*==============================================================
 =========================== GENERAL ===========================
==============================================================*/

/* ========== Fonts ========== */
body {
    font-family: 'Kumbh Sans', sans-serif;
    color: #777B92;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1 {
    font-size: 36px;
    font-weight: bold;
}

h2 {
    font-size: 24px;
    font-weight: bold;
}

h3 {
    font-size: 20px;
}

p.normal-bold {
    font-size: 16px;
    font-weight: bold;
}

p.normal-regular {
    font-size: 16px;
}

p.mini-bold {
    font-size: 12px;
    font-weight: bold;
}

p.mini-regular {
    font-size: 12px;
}

/* ========== Links ========== */
a {
    color: #71AC47;
    text-decoration: none;
}

a:hover {
    color: #71AC47;
    text-decoration: none;
}

/* ========== Buttons ========== */
.btn-primary {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #71AC47;
    background-color: #71AC47;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
	display: block;
    clear: both;
    width: 250px;
	margin: 0 auto;
    text-align: center;
}

.btn-primary:hover {
    color: black;
    background-color: white;
    border: 2px solid #71AC47;
}

/*==============================================================
 ========================= PAGE LAYOUT =========================
==============================================================*/

/* ========== Back to top button ==========*/
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #71AC47;
    width: 40px;
    height: 40px;
    border: 2px solid #71AC47;
    border-radius: 4px;
    transition: all 0.3s;
}

.back-to-top i {
    font-size: 28px;
    color: #fff;
    line-height: 0;
    transition: all 0.3s;
}

.back-to-top i:hover {
    color: #71AC47;
}

.back-to-top:hover {
    border: 2px solid #71AC47;
    background: #fff;
    color: #fff;
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
}

/*========== Disable AOS delay on mobile ==========*/
@media screen and (max-width: 768px) {
    [data-aos-delay] {
        transition-delay: 0 !important;
    }
}

/*==============================================================
 ===================== COMMON PAGES STYLES =====================
==============================================================*/
/* ========== Sections General ========== */
section {
    padding: 40px 0;
    overflow: hidden;
    box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);;
}

/* ========== Hero Section ========== */
#hero {
	margin-top: 60px;
}

#hero h1 {
	color: #262626;
}

#hero .hexa-img {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

#hero .hexa-img > img {
    max-width: 65%;
    max-height: 100%;
    display: block;
}

@media screen and (max-width: 1000px){
    #hero .row {
        flex-direction: column;
    }

    #hero .hero-title {
        width: 60%;
    }
}

/* ========== Tryout Section ========== */
#tryout {
	padding: 10% 0;
    text-align: center;
    background-image: url(../img/try-GT.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#tryout h2 {
	color: #fff;
}

#tryout p.normal-regular {
	color: #eaeef7;
}

#tryout p.mini-bold {
	color: #eaeef7;
}

/*==============================================================
 ===================== LANDING PAGE STYLES =====================
==============================================================*/

/* ========== Links Section ========== */
#links {
    background-color: #eaeef7;
}

#links .row {
    display: flex;
    justify-content: space-between;
}

#links .col-lg-5 {
    padding: 75px 45px;
    margin: 10px 10px;
    box-shadow: 0 0px 29px 0 rgba(68, 88, 144, 0.3);
    background-color: white;
    flex-grow: 1;
}

#links .col-lg-5 > h1 {
	color: #262626;
	text-align: left;
    max-width: 50%;
    float: left;
    height: 70%;
}

@media screen and (max-width: 490px) {
    #links .col-lg-5 {
        margin-left: 0;
    }
}

@media screen and (max-width: 490px) {
    #links .col-lg-5 > h1 {
        max-width: 100%;
    }
}

#links .col-lg-5 > a {
    display: block;
    clear: both;
    float: left;
    text-align: center;
}

#links .NOMPAGE-link {
    background-image: url(../img/IMAGE.png);
    background-size: 100% auto;
    background-position: right center;
    background-repeat: no-repeat;
}

/*==============================================================
 ================== SMART BUILDING PAGE STYLES ==================
==============================================================*/

/* ========== Smart Building Explanation Section ========== */
#smart-building-explanation {
    padding: 0;
}

#smart-building-explanation .container {
    display: contents;
}

#smart-building-explanation .first-row h2, #smart-building-explanation .second-row h2 {
    color: #fff;
}


#smart-building-explanation .first-row p, #smart-building-explanation .second-row p {
    color: #eaeef7;
}

#smart-building-explanation .third-row h2, #smart-building-explanation .third-row p{
    color: #262626;
}

#smart-building-explanation .description {
    padding: 20px 60px;
}

#smart-building-explanation .illustration {
    padding: 0 !important;
}

#smart-building-explanation .first-row {
    background-color: #5c58ff;
    display: flex;
    align-items: center;
}

#smart-building-explanation .second-row {
    background-color: #8f7fff;
    display: flex;
    align-items: center;
}

#smart-building-explanation .third-row {
    background-color: #b9a8ff;
    display: flex;
    align-items: center;
}

#smart-building-explanation .illustration > img {
    width: 100%;
    height: auto;
}

@media screen and (max-width:1200px) {
    #smart-building-explanation .second-row .description {
        order: 2;
    }

    #smart-building-explanation .second-row .illustration {
        order: 1;
    }
}

/* ========== Smart Building Carousel ========== */
.carousel .carousel-indicators > button {
    height: 8px;
    width: 8px;
    margin: 0 5px !important;
    border-radius: 100%;
    background-color: rgb(255, 255, 255) !important;
}

#sb-carousel {
    padding: 0;
}

#sb-carousel .container {
    display: contents;
}

#sb-carousel .row {
    background-color: #ddd3ff;
    display: flex;
    align-items: center;
}

#sb-carousel h2, #sb-carousel p {
    color: #262626;
}

#sb-carousel .illustration {
    padding: 0 !important;
}

#sb-carousel .illustration {
    padding: 0 !important;
}

#sb-carousel .illustration > img {
    width: 100%;
    height: auto;
}

#sb-carousel .carousel-indicators > button {
    border-radius: 100%;
    background-color: rgb(0, 0, 0) !important;
}

#sb-carousel .carousel-control-next,
#sb-carousel .carousel-control-prev  {
    filter: invert(100%);
}

@media screen and (max-width: 1200px) {
    #sb-carousel .carousel-indicators {
        top: 3%;
    }  

    #sb-carousel .description {
        padding: 50px 20% 50px 20%;
    }

    #sb-carousel .carousel-control-prev {
        width: 50px;
        height: 50px;
        background-color: #2626263E;
        border-radius: 50%;
        left: 4.5%;
        top: calc(25% - 25px);
    }

    #sb-carousel .carousel-control-next {
        width: 50px;
        height: 50px;
        background-color: #2626263E;
        border-radius: 50%;
        right: 4.5%;
        top: calc(25% - 25px);
    }
}

@media screen and (min-width: 1200px) {
    #sb-carousel .carousel-indicators {
        top: 90%;
        left: 14.5%;
        margin: 0;
        width: 10%;
        height: 80px;
    }  

    #sb-carousel .description {
        padding: 50px 5% 50px 7.5%;
    }

    #sb-carousel .carousel-control-prev {
        width: 60px;
        height: 60px;
        background-color: #2626263E;
        border-radius: 50%;
        left: 2.5%;
        top: calc(50% - 25px);
    }

    #sb-carousel .carousel-control-next {
        width: 60px;
        height: 60px;
        background-color: #2626263E;
        border-radius: 50%;
        right: 2.5%;
        top: calc(50% - 25px);
    }
}

/*==============================================================
 ================== METHANISATION PAGE STYLES ==================
==============================================================*/

/* ========== Methanisation Explanation Section ========== */
#methanisation-explanation {
    padding: 0;
}

#methanisation-explanation .container {
    display: contents;
}

#methanisation-explanation .first-row h2, #methanisation-explanation .second-row h2 {
    color: #fff;
}


#methanisation-explanation .first-row p, #methanisation-explanation .second-row p {
    color: #eaeef7;
}

#methanisation-explanation .third-row h2, #methanisation-explanation .third-row p{
    color: #262626;
}

#methanisation-explanation .description {
    padding: 20px 60px;
}

#methanisation-explanation .illustration {
    padding: 0 !important;
}

#methanisation-explanation .first-row {
    background-color: #71ac47;
    display: flex;
    align-items: center;
}

#methanisation-explanation .second-row {
    background-color: #95c275;
    display: flex;
    align-items: center;
}

#methanisation-explanation .third-row {
    background-color: #b9d7a3;
    display: flex;
    align-items: center;
}

#methanisation-explanation .illustration > img {
    width: 100%;
    height: auto;
}

@media screen and (max-width:1200px) {
    #methanisation-explanation .second-row .description {
        order: 2;
    }

    #methanisation-explanation .second-row .illustration {
        order: 1;
    }
}
