body {
    background-color: #E9E9E9;
}

.container {
    align-items: center;
}

.container_bis {
    display: flex;
    align-items: center;
}

.center {
    top: -22px;
    text-align: center;
    font-weight: bold;
    position: relative;
}

.center1 {
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 15%;
    font-weight: bold;
}

.right-align {
    text-align: right;
}

.row {
    display: flex;
    width: 100%;
    max-width: 100%;
    justify-content: space-around;
    margin: 20px 0;
}

.combined-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.column {
    background-color: white;
    width: 434px;
    height: 370px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.half-column {
    background-color: #628A83;
    border: 10px solid #FFFFFF;
    width: 434px;
    height: 145px;
}

.half-column p {
    color: #FFFFFF;
    font-size: 60px;
    text-align: center;
    font-weight: bold;
}

.mini_column {
    display: inline-block;
    width: 434px;
    height: 16px;
    margin: 9px;
    top: -42px;
    text-align: center;
    background-color: white;
    color: #777B92;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.header-item {
    font-weight: bold;
    margin-bottom: 15px;
}

.header-item::after {
    color: #71AC47;
}

.person {
    padding: 12px;
    margin-bottom: 10px;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 889px) and (max-width: 1333px) {
    .half-column {
        flex-direction: column;
        align-items: center;
    }

    .container_bis {
        flex-direction: column;
        align-items: center;
    }

    .combined-column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 33%;
        flex: 1;
    }
}

@media screen and (max-width: 888px) {

    .half-column {
        flex-direction: column;
        align-items: center;
    }

    .container_bis {
        flex-direction: column;
        align-items: center;
    }

    .combined-column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1;
    }

}